:root{
    --gray: rgb(82, 82, 82);
    --blue: #008bcc;
}

.item-container{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 10px;
}

.item-div{
    width: 100%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    background-repeat: none;
    position: relative;
}

.item-div:hover .item-image {
    filter: brightness(50%);
}
.item-image {
    width: 100%;
    height: auto;
    filter: brightness(100%);
    transition: filter 500ms;
}

.item-div:hover .item-description {
    height: 50%;
}
.item-description {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 0;
    overflow: hidden;
    background-color: white;
    border-radius: 30px 30px 0 0;
    transition: height 500ms;
    text-align: center;
}
.item-description:first-child

.item-div:hover .item-title {
    top: 0;
    left: 0;
    width: 100%;
    border-radius:  0 ;
    color: white;
}
.item-title {
    position: absolute;
    left: 25%;
    width: 45%;
    height: 10%;
    top: 50%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    color: rgb(200, 200, 200);

    transition: all 500ms;

    font-size: 20px;

    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

* {
    font: 400 13.3333px Arial;
}

i {
    font-style: italic !important;
}

h1 {
    text-align: center;
    font-size: 25px
}

h2 {
    text-align: left;
    font-size: 20px;
    margin: 10px;
    color: var(--blue);
}

.content {
    padding: 30px 10%;
}

pre.code{
    display: block;
    font-family: "Lucida Console", Monaco, monospace !important;
    text-align: left;
    font-size: 14px;
    border: 2px var(--gray) solid;
    border-radius: 5px;
    padding: 10px;
    margin: 0px;
    margin-left: 7%;
    margin-top: 1em;
    background-color: rgb(255, 255, 204);
}

p {
    font-size: 15px;
    width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.left {
    text-align: left;
    width: 100%;
}

p.subtext {
    margin-left: 8%;
    margin-top: 4px;
    font-style: italic;
    font-size: 14px;
    text-align: left;
}

span.kw {
    font-style: italic;
    font-size: inherit;
    color: #cf7900;
}

pre.code span.kw {
    color: #ff7300;
}

span.kw.blue{
    color: var(--blue);
}

pre.code span.kw.blue{
    color: #038cfc;
}

span.kw.red{
    color: #cf0000;
}

pre.code span.kw.red{
    color: #ff0000;
}

span.kw.purple{
    color: #c800cf;
}

pre.code span.kw.purple{
    color: #f700ff;
}