* {
    font: 400 1em Arial;
}

body{
    background-color: white;
}

.title {
    margin: 3%;
    background-color: #252525;
    opacity: 0.5;
}

.item-div {
    height: 100vh;
    width: 100%;
}

.item-imageContainer {
    height: 30%;
    width: 100vw;
    overflow-x: auto;
    overflow-y: hidden;
    transition: height 200ms;
    white-space: nowrap;

    text-align: center;
    scroll-behavior: smooth;
}

.item-imageContainer:hover {
    height: 70%;
}

.item-image {
    display: inline-block;
    height: 94%;
    max-width: 90%;

    object-fit: contain;
    padding: 1%
}


.item-closeButton{
    border: 2px solid #333333;
    border-radius: 50%;
    color: #333333;
    background-color: white;
    position: absolute;
    top: 5px;
    left: 10px;
    transition: all 500ms;
    z-index: 3;
}

.item-textContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70%;
    
    transition: height 200ms;

    border: none;
    border-radius: 15px 15px 0 0;

    background-color: #cccccc;
}

.item-imageContainer:hover ~ .item-textContainer {
    height: 30%;
}

.item-title {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 0 0 10%;

}
.item-description {
    padding: 5px 5%;
}

/* width */
::-webkit-scrollbar {
    width: 90%;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}